@use "variables" as *;
@use "sass:color";

*:not(pre) {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
}

html {
	height: 100%;
}

p {
	color: $secondary-text-color;
}

a {
	color: $secondary-text-color;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: color.adjust($secondary-text-color, $lightness: -50%);
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100%;

	& > * {
		text-align: center;
		margin-bottom: 30px;
	}
}

.btn {
	cursor: pointer;
	padding: 8px 15px;
	border-radius: 6px;
	transition: ease 0.2s;
}

.title {
	margin-top: 35px;
}

.btn-primary {
	color: #fff;
	background: $btn-primary-color;
	border: solid 1px color.adjust($btn-primary-color, $lightness: -20%);

	&:hover {
		background: color.adjust($btn-primary-color, $lightness: -10%);
	}
}

.btn-secondary {
	background: $btn-secondary-color;
	border: solid 1px color.adjust($btn-secondary-color, $lightness: -20%);

	&:hover {
		background: color.adjust($btn-secondary-color, $lightness: -5%);
	}
}

.btn-secondary {
	display: none;
}

label {
	display: block;
	margin-bottom: 30px;
	cursor: pointer;
	color: $secondary-text-color;
}

select {
	display: block;
	margin-top: 8px;
	padding: 6px 10px;
	border-radius: 6px;
	border: solid 1px color.adjust($btn-secondary-color, $lightness: -20%);
	font-family: "Quicksand", sans-serif;
	font-size: 1rem;
	background: #fff;
	color: #333;
	cursor: pointer;
	transition: ease 0.2s;

	&:focus {
		outline: none;
		border-color: $btn-primary-color;
	}
}

#image {
	display: none;
}

pre {
	line-height: 90%;
}
